<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ML</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--    <script  src="https://code.jquery.com/jquery-2.2.4.js"  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="  crossorigin="anonymous"></script>-->
    {% load static %}

    <link rel="stylesheet" href="{% static 'tablesort.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'navbar.html' %}

    {% block content %}
        <h1>Home</h1>
    <p>Analyse your csv file.</p>
    {% if massages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
        {{order}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Separator:</label>
            <input type="text" name="sep">
            <label>Label:</label>
            <input type="text" name="label">
            <label>Upload a file</label>
            <input type="file" name="file">
            <p>Only accepts CSV files</p>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    {% endif %}

    {% endblock %}
    <script src="{% static 'tablesort.js' %}"></script>
    <script src="{% static 'alpha_show.js' %}"></script>
    <script src="{% static 'pagination.js' %}"></script>

</body>
</html>